USE [master]
GO
/****** Object:  Database [QuanLyNhanSu]    Script Date: 11/23/2016 9:06:34 AM ******/
CREATE DATABASE [QuanLyNhanSu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyNhanSu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QuanLyNhanSu.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyNhanSu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QuanLyNhanSu_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyNhanSu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyNhanSu]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/23/2016 9:06:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[IDNhanVien] [int] NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[IDPhong] [int] NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](50) NULL,
	[Luong] [bigint] NULL,
	[QueQuan] [nvarchar](100) NULL,
	[ChucVu] [nvarchar](100) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[IDNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhongBan]    Script Date: 11/23/2016 9:06:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongBan](
	[IDPhong] [int] NOT NULL,
	[TenPhong] [nvarchar](50) NULL,
	[IDTruongPhong] [int] NULL,
 CONSTRAINT [PK_PhongBan] PRIMARY KEY CLUSTERED 
(
	[IDPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 11/23/2016 9:06:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[IDTaiKhoan] [int] NOT NULL,
	[TenDangNhap] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblTaiKhoan] PRIMARY KEY CLUSTERED 
(
	[IDTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[NhanVien] ([IDNhanVien], [HoTen], [IDPhong], [NgaySinh], [GioiTinh], [Luong], [QueQuan], [ChucVu]) VALUES (1, N'Lê Hải Sơn', 2, CAST(N'1995-09-15' AS Date), N'Nam', 7500000, N'Hưng Yên', N'Quản lí')
INSERT [dbo].[NhanVien] ([IDNhanVien], [HoTen], [IDPhong], [NgaySinh], [GioiTinh], [Luong], [QueQuan], [ChucVu]) VALUES (2, N'Lê Trung Hiếu', 1, CAST(N'1995-05-19' AS Date), N'Nam', 7500000, N'Hưng Yên', N'Trợ lí')
INSERT [dbo].[NhanVien] ([IDNhanVien], [HoTen], [IDPhong], [NgaySinh], [GioiTinh], [Luong], [QueQuan], [ChucVu]) VALUES (3, N'Hồ Sĩ Việt', 2, CAST(N'1995-06-07' AS Date), N'Nam', 7000000, N'Nghệ An', N'Nhân Viên')
INSERT [dbo].[PhongBan] ([IDPhong], [TenPhong], [IDTruongPhong]) VALUES (1, N'Hậu Cần', 2)
INSERT [dbo].[PhongBan] ([IDPhong], [TenPhong], [IDTruongPhong]) VALUES (2, N'Kĩ Thuật', 1)
INSERT [dbo].[PhongBan] ([IDPhong], [TenPhong], [IDTruongPhong]) VALUES (3, N'Chính trị', NULL)
INSERT [dbo].[TaiKhoan] ([IDTaiKhoan], [TenDangNhap], [MatKhau]) VALUES (1, N'lehaisonmath', N'lehaison')
INSERT [dbo].[TaiKhoan] ([IDTaiKhoan], [TenDangNhap], [MatKhau]) VALUES (2, N'hosiviet', N'vietcon')
INSERT [dbo].[TaiKhoan] ([IDTaiKhoan], [TenDangNhap], [MatKhau]) VALUES (3, N'nguyenquoctuan', N'quoctuan')
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_PhongBan] FOREIGN KEY([IDPhong])
REFERENCES [dbo].[PhongBan] ([IDPhong])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_PhongBan]
GO
USE [master]
GO
